.wrapper {
  display: flex;
  gap: 1rem;
  max-height: 100vh;
  overflow: hidden;
  align-items: center;
  padding: 5% 0px;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.title {
  padding: 1rem;
  font-size: 4rem;
  font-weight: 800;
}

.submitbox {
  display: flex;
  gap: 2rem;
}

.input {
  padding: 1rem 2rem;
  outline: none;
  border-radius: 4rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.submit {
  padding: 1rem 2rem;
  outline: none;
  border-radius: 4rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.linkwrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.link {
  font-family: monospace;
}

.link:hover {
  text-decoration: underline;
}

.copy {
  height: 1rem;
}
.copy:hover {
  opacity: 0.8;
}
